:root{
    
    --astr-light-text-white: #FFF;
    --astr-light-text-primary: rgba(255, 255, 255, 0.90);
    --astr-light-text-secondary: rgba(255, 255, 255, 0.65);
    --astr-light-text-tertiary: rgba(255, 255, 255, 0.45);
    --astr-light-text-quaternary: rgba(255, 255, 255, 0.35);
    --astr-dark-text-black: #000;
    --astr-dark-text-primary: rgba(0, 0, 0, 0.90);
    --astr-dark-text-secondary: rgba(0, 0, 0, 0.65);
    --astr-dark-text-tertiary: rgba(0, 0, 0, 0.45);
    --astr-dark-text-quaternary: rgba(0, 0, 0, 0.25);
    --astr-function-background: rgba(0, 0, 0, 0.65);
    --astr-function-toast: rgba(0, 0, 0, 0.75);
    --astr-style-color-physics: #B2ADAD;
    --astr-style-color-fire: #F84F36;
    --astr-style-color-wind: #46DE9D;
    --astr-style-color-ice: #47C7FD;
    --astr-style-color-electro: #DF54FF;
    --astr-style-color-imaginary: #FFEB61;
    --astr-style-color-quantum: #6E67D0;
    --astr-style-color-golden-1: #FFCF70;
    --astr-style-color-purple-1: #C197FF;
    --astr-style-color-blue-1: #73B0F4;
    --astr-style-color-green-1: #6EE0B6;
    --astr-style-color-grey-1: #CDCDD8;
    --astr-style-color-golden-2: linear-gradient(180deg, #A35D55 0%, #D0AA6E 100%);
    --astr-style-color-purple-2: linear-gradient(180deg, #3F4064 0%, #9C65D7 100%);
    --astr-style-color-blue-2: linear-gradient(180deg, #3A3B62 0%, #4C86C9 100%);
    --astr-style-color-green-2: linear-gradient(180deg, #374760 0%, #44908C 100%);
    --astr-style-color-grey-2: linear-gradient(180deg, #3E404E 0%, #88888E 100%);
    --astr-styletcolorlow: #FFD966;
    --astr-styletcolornge: #F29E38;
    --astr-styletcolore: #52E8FF;
    --astr-styletcoloren: #77EDE5;
    --astr-style-color: #FFF;
    --astr-style-color: rgba(255, 255, 255, 0.48);
    --astr-style-color: rgba(255, 255, 255, 0.32);
    --astr-style-color: rgba(255, 255, 255, 0.16);
    --astr-style-color: rgba(255, 255, 255, 0.12);
    --astr-style-color: rgba(255, 255, 255, 0.08);
    --astr-style-color: #000;
    --astr-style-color: rgba(0, 0, 0, 0.48);
    --astr-style-color: rgba(0, 0, 0, 0.32);
    --astr-style-color: rgba(0, 0, 0, 0.16);
    --astr-style-color: rgba(0, 0, 0, 0.12);
    --astr-style-color: rgba(0, 0, 0, 0.08);
    --astr-grey-white-1: #FFF;
    --astr-grey-white-2: #F6F6F6;
    --astr-grey-white-3: #ECECEC;
    --astr-grey-white-4: #D7D7D7;
    --astr-grey-white-5: #CCC;
    --astr-grey-white-6: #898989;
    --astr-brand-golden-1: #E9DABD;
    --astr-brand-golden-2: #E2CEA7;
    --astr-brand-golden-3: #DBC291;
    --astr-brand-golden-4: #CAB285;
    --astr-brand-golden-5: #B8A37A;
    --astr-brand-yellow-1: #FFDC87;
    --astr-brand-yellow-2: #FFD37F;
    --astr-brand-yellow-3: #FFC870;
    --astr-brand-yellow-4: #ECB163;
    --astr-brand-yellow-5: #D99B56;
    --astr-function-emph: #F29E38;
    --astr-function-warm: #EB4D3D;
    --astr-function-gain: #87E0FF;
    --dark-grey-black-1: #121212;
    --dark-grey-black-2: #1D1D1D;
    --dark-grey-black-3: #282828;
    --dark-grey-black-4: #323232;
    --dark-grey-black-5: #484848;
    --dark-grey-black-6: #9B9B9B;
    --dark-brand-golden-1: #BCAC95;
    --dark-brand-golden-2: #AD987C;
    --dark-brand-golden-3: #9D8563;
    --dark-brand-golden-4: #8A7557;
    --dark-brand-golden-5: #77654B;
    --dark-brand-yellow-1: #F9C87E;
    --dark-brand-yellow-2: #F7B553;
    --dark-brand-yellow-3: #F5A328;
    --dark-brand-yellow-4: #E29024;
    --dark-brand-yellow-5: #D27E1F;
    --dark-function-emph: #DD7A00;
    --dark-function-warm: #E93B29;
    --dark-function-gain: #0893CE;
    --light-text-white-1: #FFF;
    --light-text-white-2: rgba(255, 255, 255, 0.90);
    --light-text-white-3: rgba(255, 255, 255, 0.65);
    --light-text-white-4: rgba(255, 255, 255, 0.45);
    --light-text-white-5: rgba(255, 255, 255, 0.35);
    --dark-text-black-1: #000;
    --dark-text-black-2: rgba(0, 0, 0, 0.90);
    --dark-text-black-3: rgba(0, 0, 0, 0.65);
    --dark-text-black-4: rgba(0, 0, 0, 0.45);
    --dark-text-black-5: rgba(0, 0, 0, 0.25);

    --dark-bg-color: #0c0f1d;
    --dark-header-bg-color: #1B1D2A;
    --dark-header-border-color: #0c0f1d;


}