:root{
    --astr-primary-white-color: #1b1d2a;
    --astr-body-color: #0c0f1d;
    --astr-background-color: #242734;
    --astr-background-color-disabled: #242734;
    --astr-lighter-background-color: #242734;
    --astr-hover-background-color: #343746;
    --astr-icon-hover-background-color: #363f7e;
    --astr-text-color: #cecfd1;
    --astr-text-color-new: rgba(255, 255, 255, 0.85);
    --astr-font-color: #cecfd1;
    --astr-font-color-new: rgba(255, 255, 255, 0.85);
    --astr-font-background-color: rgba(0, 0, 0, 0.85);
    --astr-font-border-color: #3c3f50;
    --astr-patch-font-color: #76777f;
    --astr-patch-font-color-new: rgba(255, 255, 255, 0.65);
    --astr-minor-font-color: #5c5f6b;
    --astr-minor-font-color-new: rgba(255, 255, 255, 0.45);
    --astr-color-custom-pink1: #260f13;
    --astr-color-custom-pink2: #cc5265;
    --astr-color-custom-magenta1: #200e22;
    --astr-color-custom-magenta2: #a84ab7;
    --astr-color-custom-purple1: #11162b;
    --astr-color-custom-purple2: #556de5;
    --astr-color-custom-green1: #002217;
    --astr-color-custom-green2: #00a06b;
    --astr-color-custom-teal1: #031a1b;
    --astr-color-custom-teal2: #0e8a8f;
    --astr-color-custom-blue1: #091c25;
    --astr-color-custom-blue2: #3193c4;
    --astr-color-custom-yellow1: #261f08;
    --astr-color-custom-yellow2: #d19900;
    --astr-color-custom-yellow3: #d3bc8e;
    --astr-color-custom-orange1: #261500;
    --astr-color-custom-orange2: #cc5a29;
    --astr-color-custom-gray1: #15181f;
    --astr-color-custom-gray2: #666e80;
    --astr-color-custom-wisteria1: #150E22;
    --astr-gray-color: #343746;
    --astr-lighter-gray-color: #242734;
    --astr-darker-gray-color: #40434c;
    --astr-darker-gray-color-new: rgba(255, 255, 255, 0.25);
    --astr-darker-gray-color2: #343746;
    --astr-darker-gray-color2-new: rgba(255, 255, 255, 0.25);
    --astr-placeholder-color: #40434c;
    --astr-scrollbar-color: #5c5f6b;
    --astr-scrollbar-color-new: rgba(255, 255, 255, 0.25);
    --astr-scrollbar-color-hover: #76777f;
    --astr-reddot-border-color: #242734;
    --astr-error-color: #c04552;
    --astr-toast-bg-color: rgba(64, 67, 76, 0.9);
    --astr-toast-font-color: #cecfd1;
    --astr-gray-color-tertiary: #5c5f6b;
    --astr-icon-color: #5c5f6b;
    --astr-darker-icon-color: #8592a3;
    --astr-darker-icon-color-new: rgba(255, 255, 255, 0.65);
    --astr-lighter-icon-color: #c1ccd9;
    --astr-header-icon-color: #cecfd1;
    --astr-dark-icon-color-45: rgba(255, 255, 255, 0.45);
    --astr-dark-icon-color-25: rgba(255, 255, 255, 0.25);
    --astr-border-color: #343746;
    --astr-darker-border-color: #3c3f50;
    --astr-lighter-border-color: #242734;
    --astr-bottom-image-border-color: rgba(255, 255, 255, 0.08);
    --astr-popup-bg-color: #242734;
    --astr-block-label-bg-color: #343746;
    --astr-block-tag-bg-color: #242734;
    --astr-block-label-font-color: #cecfd1;
    --astr-block-label-font-color-new: rgba(255, 255, 255, 0.65);
    --astr-block-label-font-color-lighter: #cecfd1;
    --astr-block-label-font-color-lighter-new: rgba(255, 255, 255, 0.45);
    --astr-vote-bg-color: #242734;
    --astr-popover-bg-color: rgba(47, 63, 86, 0.9);
    --astr-popover-bg-color-new: rgba(47, 63, 86, 1);
    --astr-card-bg-color-light: #1b1d2a;
    --astr-img-placeholder-opacity: 0.6;
    --astr-darker-placeholder-color: #3c3f50;
    --astr-button-background-color: #363f7e;
    --astr-button-font-color: #657ef8;
    --astr-button-background-color-hover: #657ef8;
    --astr-button-font-color-hover: #fff;
    --astr-button-background-color-disabled: #242734;
    --astr-button-font-color-disabled: #40434c;
    --astr-button-font-color-disabled-new: rgba(255, 255, 255, 0.25);
    --astr-button-background-color-active: #4252a1;
    --astr-button-font-color-active: #fff;
    --astr-button-bg-color-disabled: #40434c;
    --astr-button-secondary-background-color: #343746;
    --astr-button-secondary-font-color: #76777f;
    --astr-button-secondary-background-color-hover: #76777f;
    --astr-button-secondary-font-color-hover: #fff;
    --astr-button-secondary-color-active: #2f2f33;
    --astr-button-outlined-border-color: #343746;
    --astr-button-outlined-border-color-new: rgba(255, 255, 255, 0.65);
    --astr-button-outlined-bg-color: #343746;
    --astr-button-outlined-bg-color-hover: #9aa6ff;
    --astr-button-follow-background-color: #40434c;
    --astr-button-follow-background-color-hover: #76777f;
    --astr-button-follow-background-color-hover-new: rgba(255, 255, 255, 0.65);
    --astr-menu-font-color: #cecfd1;
    --astr-menu-font-color-new: rgba(255, 255, 255, 0.65);
    --astr-contribution-label-bg-color: rgba(255, 130, 150, 0.08);
    --astr-contribution-label-hover-bg-color: rgba(255, 130, 150, 0.16);
    --astr-datepicker-bg: #363f7e;
    --astr-post-img-text-bg: #2e6359;
    --astr-post-img-bg: #4f739b;
    --astr-post-video-bg: #9f7241;
    --astr-event-status-bg-color: #343746;
    --astr-event-status-font-color: #657ef8;
    --astr-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
    --astr-box-shadow-v2: 0 12px 24px rgba(0, 0, 0, 0.2);
    --astr-box-shadow-v3: 0 12px 24px rgba(0, 0, 0, 0.65);
    --astr-box-shadow-v4: 0px 8px 16px rgba(0, 0, 0, 0.85);
    --astr-global-notification-bg: #343746;
    --astr-global-common-notification-bg: #4252a1;
    --astr-img-thumb-mask: rgba(64, 67, 76, 0.5);
    --astr-expand-mask: linear-gradient(to left, rgba(27, 29, 42, 1), rgba(27, 29, 42, 1) 60%, rgba(27, 29, 42, 0.5) 80%, rgba(27, 29, 42, 0) 100%);
    --astr-guide-border-color: #b2bdce;
    --astr-emoticon-act-comingsoon-text: #cecfd1;
    --astr-emoticon-act-comingsoon-bg: rgba(47, 63, 86, 0.9);
    --astr-collection-cover-bottom-layer: #fff;
    --astr-like-dark-bg: #825d35;
    --astr-banner-status-stop-color: #cecfd1;
    --astr-banner-status-act-color: #cecfd1;
    --astr-banner-status-stop-bg: rgba(47, 63, 86, 0.9);
    --astr-banner-status-act-bg: rgba(74, 86, 183, 0.9);
    --astr-topic-theme-border-color: #0c0f1d;
    --astr-switch-arrow-bg: rgba(249, 250, 255, 0.08);
    --astr-switch-arrow-color: #556ad0;
    --astr-recommend-author-game-color: rgba(255, 255, 255, 0.65);
    --astr-recommend-author-game-little-color: rgba(255, 255, 255, 0.45);
    --astr-recommend-author-game-more-color: rgba(255, 255, 255, 0.85);
    --astr-recommend-author-game-hover: #343746;
    --astr-creator-center-card-bg-color: #1f2336;
    --astr-dark-color-05: rgba(255, 255, 255, 0.05);
    --astr-dark-color-20: rgba(255, 255, 255, 0.2);
    --astr-dark-color-25: rgba(255, 255, 255, 0.25);
    --astr-dark-color-45: rgba(255, 255, 255, 0.45);
    --astr-dark-color-5: rgba(255, 255, 255, 0.5);
    --astr-dark-color-65: rgba(255, 255, 255, 0.65);
    --astr-dark-color-8: rgba(255, 255, 255, 0.8);
    --astr-dark-color-85: rgba(255, 255, 255, 0.85);
    --astr-white-color-10: rgba(0, 0, 0, 0.1);
    --astr-white-color-50: rgba(0, 0, 0, 0.5);
    --astr-white-color-65: rgba(0, 0, 0, 0.65);
    --astr-offcial-tab-active-bg: #363f7e;
    --astr-new-game-card-text: #fff;
    --astr-activity-pre: #339bce;
    --astr-activity-started: #33d7a0;
    --astr-activity-vote: #d6822d;
    --astr-activity-selection: #b43e4b;
    --astr-activity-ended: #76777f;
    --astr-activity-ended-new: rgba(255, 255, 255, 0.65);
    --astr-activity-pre-bg: rgba(51, 155, 206, 0.08);
    --astr-activity-started-bg: rgba(42, 176, 131, 0.08);
    --astr-activity-vote-bg: rgba(214, 130, 45, 0.08);
    --astr-activity-selection-bg: rgba(180, 62, 75, 0.08);
    --astr-activity-ended-bg: #0c0f1d;
    --astr-creator-center-bg-color-1: #1f2336;
    --astr-creator-center-bg-color-2: #292a36;
    --astr-creator-center-bg-color-3: #242632;
    --astr-creator-center-bg-color-4: #242632;
    --astr-search-result-border-color: #000;
    --astr-search-result-special-color: linear-gradient(180deg, #363f7e 0%, rgba(54, 63, 126, 0) 100%);
    --astr-game-reservation-color: #b2bdce;
    --astr-richtext-line-bg-color: #0c0f1d;
    --astr-richtext-color: rgba(255, 255, 255, 0.25);
    --astr-richtext-border-color: #76777f;
    --astr-richtext-input-border-color: #343746;
    --astr-model-cross-line-color: #0c0f1d;
    --astr-classification-icon-color: #cecfd1;
    --astr-switch-tab-mask: linear-gradient(90deg, #1b1d2a 2.5%, #1b1d2a 29.08%, rgba(27, 29, 42, 0) 100%);
    --astr-structured-start-color: #3c3f50;
    --astr-star-color: #76777f;
    --astr-arrow-color: #cecfd1;
    --astr-select-arrow-color: #5c5f6b;
    --astr-guide-collect-desc-text-border: rgba(138, 109, 72, 0.3);
    --astr-guide-collect-desc-text: #d3bc8e;
    --astr-search-input-line-color: #5c5f6b;
    --astr-transparent-input-line-color: #5c5f6b;
    --astr-search-input-icon-color: #5c5f6b;
    --astr-search-input-icon-active-color: #657ef8;
    --astr-transparent-input-icon-color: #5c5f6b;
    --astr-following-red-dot-border: 1px solid #1b1d2a;
    --astr-editor-link-tool-tips-bg: #1b1d2a;
    --astr-editor-link-tool-icon: #cecfd1;
    --astr-editor-link-tool-shadow: 0px 8px 16px rgba(0, 0, 0, 0.65);
    --astr-mhy-skeleton-background: linear-gradient(270deg, rgba(255, 255, 255, 0.04) 25%, rgba(255, 255, 255, 0.06) 37%, rgba(255, 255, 255, 0.04) 63%);
    --astr-strategy-small-arrow-icon: #cecfd1;
    --astr-editor-article-disabled: rgba(27, 29, 42, 0.65);
    --astr-editor-vote-warning: #ce3e3e;
    --astr-editor-vote-active-color: #0e8a8f;
    --astr-editor-vote-quiz-active-color: #4b82bf;
    --astr-scoreboard-background-color: #1f2336;
    --astr-header-close-icon-color: #cecfd1;
    --astr-config-lighter-gray-color: #242734;
    --astr-comment-new-hot-color: #cc5a29;
    --astr-avatar-frame-prize-bg-color: #145f83;
    --astr-reply-bubble-container-bg-color: #1B1D2A;
    --astr-hyl-color-function-error2: #CE3E3E;
    --astr-hyl-color-brand-p2: #1A224D;
    --astr-hyl-color-neutral-p3: #2F3340;
    --astr-achievement-center-header-color: #452e72;
    --astr-achievement-center-container-bg-color: #1b1d2a;
    --astr-achievement-card-hidden-color: #cc5265;
    --astr-achievement-card-hidden-bg-color: #260f13;
    --astr-achievement-card-hover-bg-color: #1a224d;
    --astr-achievement-card-hover-bg-color2: #343746;
    --astr-achievement-dialog-card-bg-color: #242734;
    --astr-achievement-dialog-card-btn-color: #242a34;
    --astr-mhy-box-shadow: rgba(0, 0, 0, 0.8);
    --astr-private-setting-icon: rgba(255, 255, 255, 0.25);
    --astr-private-setting-bg: #242734;
    --astr-private-checkbox-tips-bg: #261500;
    --astr-private-checkbox-tips-text: #cc6e00;
    --astr-coupon-dashed-line: #3C3F50;
    --astr-coupon-border-color: #343746;
    --astr-hotlist-label-color: rgba(0, 0, 0, 0.85);
}