:root{
    --primary-white-color: #fff;
    --body-color: #f5f6fb;
    --background-color: #f5f6fb;
    --background-color-disabled: #f6f9fb;
    --lighter-background-color: #f5f6fb;
    --hover-background-color: #eff2ff;
    --icon-hover-background-color: #e1e7ff;
    --text-color: #2f3f56;
    --text-color-new: rgba(0, 0, 0, 0.85);
    --font-color: #2f3f56;
    --font-color-new: rgba(0, 0, 0, 0.85);
    --font-background-color: rgba(255, 255, 255, 0.85);
    --font-border-color: #eceff4;
    --patch-font-color: #8592a3;
    --patch-font-color-new: rgba(0, 0, 0, 0.65);
    --minor-font-color: #b2bdce;
    --minor-font-color-new: rgba(0, 0, 0, 0.45);
    --color-custom-pink1: #fff0f2;
    --color-custom-pink2: #ff667e;
    --color-custom-magenta1: #fbeffc;
    --color-custom-magenta2: #d25ce5;
    --color-custom-purple1: #f2f4ff;
    --color-custom-purple2: #6680ff;
    --color-custom-green1: #e5fcf5;
    --color-custom-green2: #0c8;
    --color-custom-teal1: #e7f7f7;
    --color-custom-teal2: #12adb3;
    --color-custom-blue1: #ecf8fe;
    --color-custom-blue2: #3db8f5;
    --color-custom-yellow1: #fffaeb;
    --color-custom-yellow2: #fabe00;
    --color-custom-yellow3: #b28659;
    --color-custom-orange1: #fff3e5;
    --color-custom-orange2: #ff7033;
    --color-custom-gray1: #f5f7fa;
    --color-custom-gray2: #8592a3;
    --color-custom-wisteria1: #F3EFFC;
    --gray-color: #f1f4f9;
    --lighter-gray-color: #f6f9fb;
    --darker-gray-color: #dde3ec;
    --darker-gray-color-new: rgba(0, 0, 0, 0.25);
    --darker-gray-color2: #dde3ec;
    --darker-gray-color2-new: rgba(0, 0, 0, 0.25);
    --placeholder-color: #dde3ec;
    --scrollbar-color: #dde3ec;
    --scrollbar-color-new: rgba(0, 0, 0, 0.25);
    --scrollbar-color-hover: #e1e7ff;
    --reddot-border-color: #fff;
    --error-color: #ff6273;
    --toast-bg-color: rgba(0, 0, 0, 0.6);
    --toast-font-color: #fff;
    --gray-color-tertiary: #b2bdce;
    --icon-color: #b2bdce;
    --darker-icon-color: #8592a3;
    --darker-icon-color-new: rgba(0, 0, 0, 0.65);
    --lighter-icon-color: #c1ccd9;
    --header-icon-color: #8592a3;
    --dark-icon-color-45: rgba(0, 0, 0, 0.45);
    --dark-icon-color-25: rgba(0, 0, 0, 0.25);
    --border-color: #f1f4f9;
    --darker-border-color: #eceff4;
    --lighter-border-color: #f6f9fb;
    --bottom-image-border-color: rgba(0, 0, 0, 0.05);
    --popup-bg-color: #fff;
    --block-label-bg-color: #fff;
    --block-tag-bg-color: #f1f4f9;
    --block-label-font-color: #8592a3;
    --block-label-font-color-new: rgba(0, 0, 0, 0.65);
    --block-label-font-color-lighter: #b2bdce;
    --block-label-font-color-lighter-new: rgba(0, 0, 0, 0.45);
    --vote-bg-color: #f0f2f6;
    --popover-bg-color: rgba(47, 63, 86, 0.9);
    --popover-bg-color-new: rgba(47, 63, 86, 1);
    --card-bg-color-light: #f6f9fb;
    --img-placeholder-opacity: 1;
    --darker-placeholder-color: #eceff4;
    --button-background-color: #e1e7ff;
    --button-font-color: #657ef8;
    --button-background-color-hover: #657ef8;
    --button-font-color-hover: #fff;
    --button-background-color-disabled: #f6f9fb;
    --button-font-color-disabled: #dde3ec;
    --button-font-color-disabled-new: rgba(0, 0, 0, 0.25);
    --button-background-color-active: #4a56b7;
    --button-font-color-active: #fff;
    --button-bg-color-disabled: #dde3ec;
    --button-secondary-background-color: #f6f9fb;
    --button-secondary-font-color: #8592a3;
    --button-secondary-background-color-hover: #8592a3;
    --button-secondary-font-color-hover: #fff;
    --button-secondary-color-active: #2f3f56;
    --button-outlined-border-color: #8592a3;
    --button-outlined-border-color-new: rgba(0, 0, 0, 0.65);
    --button-outlined-bg-color: transparent;
    --button-outlined-bg-color-hover: #9aa6ff;
    --button-follow-background-color: #f6f9fb;
    --button-follow-background-color-hover: #8592a3;
    --button-follow-background-color-hover-new: rgba(0, 0, 0, 0.65);
    --menu-font-color: #8592a3;
    --menu-font-color-new: rgba(0, 0, 0, 0.65);
    --contribution-label-bg-color: rgba(255, 214, 220, 0.25);
    --contribution-label-hover-bg-color: rgba(255, 214, 220, 0.45);
    --datepicker-bg: #657ef8;
    --post-img-text-bg: #c7f8e4;
    --post-img-bg: #d0e9fc;
    --post-video-bg: #ffeed0;
    --event-status-bg-color: #c3cdff;
    --event-status-font-color: #4a56b7;
    --box-shadow: 0px 12px 24px rgba(47, 63, 86, 0.2);
    --box-shadow-v2: 0 12px 24px rgba(47, 63, 86, 0.2);
    --box-shadow-v3: 0 12px 24px rgba(47, 63, 86, 0.2);
    --box-shadow-v4: 0px 8px 16px rgba(0, 0, 0, 0.2);
    --global-notification-bg: #e1e7ff;
    --global-common-notification-bg: #4a56b7;
    --img-thumb-mask: rgba(221, 227, 236, 0.5);
    --expand-mask: linear-gradient(to left, #fff, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%);
    --guide-border-color: #fff;
    --emoticon-act-comingsoon-text: #fff;
    --emoticon-act-comingsoon-bg: rgba(0, 0, 0, 0.7);
    --collection-cover-bottom-layer: #657ef8;
    --like-dark-bg: #fff4e1;
    --banner-status-stop-color: #fff;
    --banner-status-act-color: #fff;
    --banner-status-stop-bg: rgba(0, 0, 0, 0.7);
    --banner-status-act-bg: rgba(74, 86, 183, 0.9);
    --background-image-topic: url(/_nuxt/img/topic-day.2222abf.png);
    --topic-theme-text-color1: var(--font-color);
    --topic-theme-text-color2: var(--patch-font-color);
    --topic-theme-text-color3: var(--minor-font-color);
    --topic-theme-tab-text-active: var(--hyl-color-brand-p5);
    --topic-theme-tab-text: var(--patch-font-color);
    --topic-theme-color: var(--hyl-color-brand-p2);
    --topic-theme-bg-color: var(--body-color);
    --topic-theme-card-color: var(--primary-white-color);
    --topic-theme-btn-secondary-color: var(--button-secondary-background-color);
    --topic-theme-hot-reply-bg-color: var(--body-color);
    --topic-theme-hot-reply-icon-color: var(--primary-white-color);
    --comment-new-hot-color: #ff7033;
    --topic-theme-border-color: #f5f6fb;
    --switch-arrow-bg: rgba(74, 86, 183, 0.06);
    --switch-arrow-color: #b2bdce;
    --recommend-author-game-color: rgba(0, 0, 0, 0.65);
    --recommend-author-game-little-color: rgba(0, 0, 0, 0.45);
    --recommend-author-game-more-color: rgba(0, 0, 0, 0.85);
    --recommend-author-game-hover: #f0f2fe;
    --recommend-author-game-bg-url: url(/_nuxt/img/recommend-user-bg-left.5ddc823.png), url(/_nuxt/img/recommend-user-bg-right.d82ff83.png);
    --creator-center-card-bg-color: #fafafa;
    --dark-color-05: rgba(0, 0, 0, 0.05);
    --dark-color-20: rgba(0, 0, 0, 0.2);
    --dark-color-25: rgba(0, 0, 0, 0.25);
    --dark-color-45: rgba(0, 0, 0, 0.45);
    --dark-color-5: rgba(0, 0, 0, 0.5);
    --dark-color-65: rgba(0, 0, 0, 0.65);
    --dark-color-8: rgba(0, 0, 0, 0.8);
    --dark-color-85: rgba(0, 0, 0, 0.85);
    --white-color-10: rgba(255, 255, 255, 0.1);
    --white-color-50: rgba(255, 255, 255, 0.5);
    --white-color-65: rgba(255, 255, 255, 0.65);
    --offcial-tab-active-bg: #e1e7ff;
    --new-game-card-text: rgba(0, 0, 0, 0.65);
    --activity-pre: #3db8f5;
    --activity-started: #33d7a0;
    --activity-vote: #ff9b36;
    --activity-selection: #ff8296;
    --activity-ended: #8592a3;
    --activity-ended-new: rgba(0, 0, 0, 0.65);
    --activity-pre-bg: rgba(61, 184, 245, 0.08);
    --activity-started-bg: rgba(51, 215, 160, 0.08);
    --activity-vote-bg: rgba(255, 155, 54, 0.08);
    --activity-selection-bg: rgba(255, 130, 150, 0.08);
    --activity-ended-bg: #f5f6fb;
    --search-clean-bg: url(/_nuxt/img/closeBtn.ec701d8.png);
    --side-card-bg: var(--primary-white-color);
    --side-hover-bg: var(--hover-background-color);
    --side-login-color: var(--hyl-color-brand-p2);
    --side-login-text: var(--hyl-color-brand-p5);
    --side-login-color-hover: var(--hyl-color-brand-p5);
    --side-login-text-hover: var(--hyl-color-stellar-white);
    --side-login-color-active: var(--hyl-color-brand-p6-2);
    --side-login-text-active: var(--hyl-color-stellar-white);
    --side-login-font-color: var(--dark-color-85);
    --config-button-font-color: #000;
    --config-white-color-25: rgba(255, 255, 255, 0.25);
    --config-white-color-45: rgba(255, 255, 255, 0.45);
    --config-white-color-65: rgba(255, 255, 255, 0.65);
    --config-white-color-85: rgba(255, 255, 255, 0.85);
    --config-white-color-100: rgba(255, 255, 255, 100);
    --config-dark-color-8: rgba(0, 0, 0, 0.08);
    --config-dark-color-25: rgba(0, 0, 0, 0.25);
    --config-dark-color-45: rgba(0, 0, 0, 0.45);
    --config-dark-color-65: rgba(0, 0, 0, 0.65);
    --config-dark-color-85: rgba(0, 0, 0, 0.85);
    --config-secondary-background-color: #f6f9fb;
    --config-secondary-font-color: #8592a3;
    --config-secondary-font-color-new: rgba(0, 0, 0, 0.65);
    --config-secondary-background-color-hover: #8592a3;
    --config-secondary-background-color-hover-new: rgba(0, 0, 0, 0.65);
    --config-secondary-font-color-hover: #fff;
    --config-primary-white-color: #fff;
    --config--text-color: #2f3f56;
    --config-img-placeholder-opacity: 1;
    --config-minor-font-color: #b2bdce;
    --config-minor-font-color-new: rgba(0, 0, 0, 0.45);
    --config-button-background-color: #e1e7ff;
    --config-contribution-label-bg-color: rgba(255, 214, 220, 0.25);
    --config-lighter-gray-color: #f6f9fb;
    --creator-center-bg-color-1: #fafaff;
    --creator-center-bg-color-2: #fffcf3;
    --creator-center-bg-color-3: #fff6f6;
    --creator-center-bg-color-4: #fbf8ff;
    --search-result-special-color: linear-gradient(180deg, #e1e7ff 0%, rgba(225, 231, 255, 0) 100%);
    --richtext-line-bg-color: #f5f6fb;
    --richtext-color: rgba(0, 0, 0, 0.25);
    --richtext-border-color: #8592a3;
    --richtext-input-border-color: #f1f4f9;
    --model-cross-line-color: #f6f9fb;
    --classification-icon-color: #2f3f56;
    --switch-tab-mask: linear-gradient(90deg, #fff 2.5%, rgba(255, 255, 255, 0) 100%);
    --structured-start-color: #c1ccd9;
    --star-color: #8592a3;
    --arrow-color: #2f3f56;
    --select-arrow-color: #b2bdce;
    --guide-collect-desc-text-border: #ece5d8;
    --guide-collect-desc-text: #b28659;
    --search-input-line-color: #c1ccd9;
    --transparent-input-line-color: rgba(255, 255, 255, 0.45);
    --search-input-icon-color: #b2bdce;
    --search-input-icon-active-color: #657ef8;
    --transparent-input-icon-color: rgba(255, 255, 255, 0.45);
    --following-red-dot-border: 1px solid #fff;
    --editor-link-tool-tips-bg: #fff;
    --editor-link-tool-icon: #2f3f56;
    --editor-link-tool-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    --editor-outer-border-radius: 14px;
    --editor-inner-border-radius: 12px;
    --strategy-small-arrow-icon: #2f3f56;
    --editor-article-disabled: rgba(255, 255, 255, 0.5);
    --editor-vote-warning: #ff4d4d;
    --editor-vote-active-color: #12adb3;
    --editor-vote-quiz-active-color: #5ca0ec;
    --scoreboard-background-color: #fafaff;
    --header-close-icon-color: #b2bdce;
    --avatar-frame-prize-bg-color: #9fd8f5;
    --hyl-color-function-error2: #FF4D4D;
    --hyl-color-brand-p2: #E5EAFF;
    --hyl-color-neutral-p3: #DDE2EC;
    --reply-bubble-container-bg-color: #f6f9fb;
    --achievement-center-header-color: #c8affa;
    --achievement-center-container-bg-color: #fff;
    --achievement-card-hidden-color: #ff667e;
    --achievement-card-hidden-bg-color: #fff5f6;
    --achievement-card-hover-bg-color: #e5eaff;
    --achievement-card-hover-bg-color2: #f2f4ff;
    --achievement-dialog-card-bg-color: #f6f9fb;
    --achievement-dialog-card-btn-color: #edf1f7;
    --mhy-box-shadow: rgba(0, 0, 0, 0.2);
    --private-setting-icon: rgba(0, 0, 0, 0.25);
    --private-setting-bg: #f5f7fa;
    --private-checkbox-tips-bg: #fff3e5;
    --private-checkbox-tips-text: #ff9b36;
    --coupon-dashed-line: #f1f4f9;
    --coupon-border-color: #ECEFF4;
    --hotlist-label-color: #fff;
}