:root{
    --default-font-title: 'Cinzel_Decorative' ,sans-serif;
    --default-font-text:  'Inconsolata', sans-serif;
    --bg-img: url('/static/assets/img/bg.png');
}

@font-face {

    font-family: 'Inconsolata';
    src: url('/static/font/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf');
}

@font-face {

    font-family: 'Cinzel_Decorative';
    src: url('/static/font/Cinzel_Decorative/CinzelDecorative-Bold.ttf');
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    scroll-behavior: smooth;
    touch-action: manipulation;
}

input, 
textarea,
button{
    color: inherit;
    font: inherit;
} 

input,
textarea {
    font-family: var(--default-font-text);
    color: var(--astr-font-color-new);
}

[role=button]{
    cursor: pointer;
}

html,
body{
    position: relative;
    font-family: var(--default-font-text);
    width: 100%;
    height: 100%;
    
}




/* Feature 1 */
.astr-about-us{
    top: 0;
    left: 0;
    position: absolute;
    background: var(--astr-style-color-quantum);
    height: 284px;
    padding: 20px 16px;
    width: 336px;
    margin-right: auto;
}




.astr-about-item img{
    height: auto;
    width: 18px;
}