<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/_root.css">
    <link rel="stylesheet" href="../static/css/color/nigga.css">
    <link rel="stylesheet" href="../static/css/color/white.css">
    <title>Astutor|</title>
</head>
<body>
    
    <div class="_root">

        <div class="header">
            <div class="header_wrapper">
                <div class="header_inner">
                    <div class="header_left">
                        <div class="header_logo">
                            <h1>Astutor</h1>
                        </div>
                        <div class="header_tab-wrapper">
                            <div class="header_tab">
                                <p class="header_name header_tab_active">Home</p>
                            </div>
                            <div class="header_tab">
                                <p class="header_name">Category</p>
                            </div>
                        </div>
                    </div>
                    <div class="header_center">
                        <div class="search_bar">
                            <form>
                                <div class="search_bar_input">
                                    <label class="autocomplete_label" style="overflow: hidden;" data-before="Check in" data-after="Explore more">

                                        <div class="autocomplete">
                                            <div class="autocomplete_wrp">
                                                <input type="text" placeholder autocomplete="off" class="autocomplete__input">
                                                <div class="autocomple__clear" role="button" style="display: none;"></div>
                                            </div>
                                        </div>

                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="header_right">
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    
    
</body>
</html>





<!-- 
        <div class="header_left">
            <div class="wrp_header">
                <div class="header_logo">
                    <h1>Astutor</h1>
                </div>
                <div class="header_tab-wrp">
                    <div class="header_tab">
                        <p class="header_tab_name active_header">Home</p>
                        <div class="active_tab"></div>
                    </div>
                    <div class="header_tab">
                        <p class="header_tab_name">Category</p>
                        
                    </div>
                </div>
    
            </div>
        </div> -->